/* * {
} */

.mainHeader {
    background-color: #F55A5A;
    color: white;
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.mainHeader > img {
    height: 24px;
    margin-right: 7px
}

.cardHeader {
    margin: 10px;
    display: flex;
    align-items: center;
}

.mainDiv {
    z-index: 90;
}

.cardDiv {
    color: white;
    box-sizing: border-box;
    /* font-family: 'Inter'; */
    font-size: 10px;
    font-weight: 200;
    display: inline;
    margin-top: 40px;
}

.description {
    font-size: 15px;
    font-weight: 300;
}

.cardInfo {
    display: inline-block;
    margin-left: 15px;
}

.cardTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.17em;
}

.location {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 5px 0 10px
}

.link {
    color:grey;
    font-weight: 400;
    font-size: 10px;
    margin-left: 15px
}

.cardImg {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 9px 
    
}

.customSelect {
    background-color: #fff4b6;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}