.main {
  height: 900px;
}

.hide {
  display: none;
}

.nav {
  height: auto;
  background-color: rgb(45, 97, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: #02051e;
}

.filters {
  width: 35%;
  color: white;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #060d4b;
  margin: 10px;
}

.selected {
    background-color: rgb(255, 244, 182);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #060d4b;
    margin: 10px;
}

.filter_divs {
  border: solid white 1px;
  color: white;
  width: 25%;
  font-size: 20px;
  overflow-y: scroll;
  font-weight: 200;
  margin: 10px;
}

.filter_elements {
  margin: 5px;
  text-overflow: ellipsis;
}

.info {
  width: 40%;
}






/* Tablet and Smaller Desktop
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
